@import './base.css';

:root {
  --c-bg: #181818;
  --c-bg-soft: #222222;

  --c-btn: #333333;
  --c-btn-hover: #3f3f3f;

  --c-border: var(--vt-c-divider-light-2);
  --c-border-hover: var(--vt-c-divider-light-1);

  --c-heading: var(--vt-c-text-light-1);
  --c-text: #f2f2f2;

  --c-valid: #2ecc40;
  --c-invalid: #ff4136;

  --s-s: 2px;
  --s-m: 4px;
  --s-l: 8px;
  --s-xl: 16px;
  --s-xxl: 64px;

  --header-height: 6em;
}

body {
  color: var(--c-text);
  background: var(--c-bg);
}

.button {
  background-color: var(--c-btn);
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--c-btn-hover);
}
